<div class="container section h-100">
    <div class="row h-25 justify-content-center d-flex">
        <div class="align-self-center justify-content-center d-flex">
            <mat-card class="mat-elevation-z8">

                <div class="row">
                    <div class="col-12 justify-content-center d-flex">
                        <h2 class="mat-h2">Lucas-Kanade</h2>
                    </div>
                </div>

                <form class="section" #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <input type="file" name="video" accept="video/*"
                            (change)="handleFileInput($event.target.files)">
                    </div>

                    <div class="col-sm-12 col-md-3 offset-sm-0 offset-md-6" *ngIf="!enviando">
                        <button class="w-100" type="submit" mat-raised-button color="primary">Enviar</button>
                    </div>
                </form>

            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center d-flex" *ngIf="!videoResponse && enviando">
        <div class="row">Procesando video...</div>
        <mat-progress-bar mode="indeterminate" *ngIf="enviando"></mat-progress-bar>
    </div>

    <div class="row justify-content-center d-flex" *ngIf="videoResponse">
        <a href="{{downloadPath}}">Descargar video</a>
    </div>

    <div class="row justify-content-center d-flex">

        <div class="video" *ngIf="videoResponse">

            <img width="50%" *ngFor="let imagen of videoResponse" src="{{ extractBase64(imagen) }}" />

        </div>

    </div>
</div>