<div class="container section h-100">
    <div class="row h-100 justify-content-center d-flex">
        <div class="align-self-center justify-content-center d-flex">
            <mat-card class="mat-elevation-z8">

                <div class="row">
                    <div class="col-12 justify-content-center d-flex">
                        <h2 class="mat-h2">Lucas-Kanade</h2>
                    </div>
                </div>

                <form class="section" #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                    </div>
                </form>

            </mat-card>
        </div>
    </div>
</div>